h1{
    font-size: large;
}
h2{
    font-size: 60px;
}
p{
    font-style: italic bold;
}
.emphasis{
    font-weight: bolder;
    color: blueviolet;
}
.emphasis-italic{
    font-stretch: expanded;
}
img{
    width: 300px;
}