* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #FDFBEF;
    color: #5C4033;
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}


.header {
    padding: 30px;
    text-align: center;
    background: #FFFFF0;
    text-align: center;
    font-family: "Playfair Display";
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background-color: #556B2F;
    position: relative;
}

.logo{   
  position: absolute; 
  top: 0;
  right: 0; 
  height: 100px; 
}
  
.header h1 {
    font-size: 50px;
}
  
  
.topnav {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Ensure the links are vertically centered */
    background-color: #556B2F;
}
  
.topnav a {
    flex: 1; 
    color: #f2f2f2;
    padding: 14px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #E2725B;
     text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
  
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

h2 {
    font-size: 2rem;
}

main {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 2rem;
}

section img {
    width: 600px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

article {
    max-width: 600px;
    line-height: 1.6;
}

h3 {
    font-size: 1.8rem;
    color: #8B0000;
    margin-bottom: 1rem;
}

p {
    margin-bottom: 1rem;
    font-size: 1.1rem;
}

footer {
    background-color: #55643E;
    color: #FDFBEF;
    text-align: center;
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
}