p{
    font-style: Lora; 
    font-size: 18px; 
  }
  *{
    background-color: #FFFFF0;
  }
  header{
    background-color:  #556B2F ;
    padding: 20px;
    text-align: center;     
      
  }
  .Title{
    font-size: 200px !important;
  }
  
  header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #556B2F;
  }
header nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #556B2F;
}
header nav ul li{
    margin-right: 20px;
    
}
header nav a{
    color: #E2725B;
    text-decoration: none;
    padding: auto;
}
img{
    float: right;
    box-sizing: border-box;
    width: 100px;
    padding: 10px;
    border: 5px solid black
    
}


  
  h2{
    font-size: 36px;
    font-style: Playfair Display;
  }

.box{
    
    
    text-align: center;
    padding: 20px;
   
}
.left{
    width: 30%;
background-color: lightgoldenrodyellow;
}


section{
    display: flex;
   flex-grow: 1;
    
}
body{
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
        
}




footer{
min-height: 60px;
background-color: lightcoral;
}
*{
    margin: 0;
    padding: o;
    box-sizing: border-box;
}