* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
font-family: 'Roboto', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 26px;
}

/* Header */
header {
    background-color: #4b5a2b;
    padding: 20px;
    color: white;
    text-align: center;
    position: relative;
}

header h1 {
    font-size: 36px;
    margin-bottom: 10px;
    display: inline-block;
}

.accent {
    color: #ff6666;
}

/* Add the logo to the header */
.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    height: 50px;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    background-color: #ff6666;
    border-radius: 20px;
    margin-right: 10px;
    display: inline-block;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #cc4d4d;
}

/* Restaurant Section */
.restaurant {
    padding: 20px;
    border-bottom: 2px dotted #e6e6e6;
    margin-bottom: 30px;
    background-color: thistle;
}

/* Ensure h2 is above the paragraphs */
.restaurant h2 {
    font-size: 28px;
    margin-bottom: 10px;
    text-align: center;
    color: #333;
}

/* Black box around the text paragraphs */
.restaurant-text {
    padding: 20px;
    background-color: #FFFFF0;
    color: black;
    border-radius: 10px;
    margin-top: 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    gap: 15px;
}


.restaurant-grid {
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(300px, 2fr));
    gap: 20px;
    align-items: center;
}

/* Image styles */
.restaurant-image, .menu-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Footer */
footer {
    background-color: #4b5a2b;
    padding: 20px;
    text-align: center;
    color: white;
}





